
<%if user_of_session %>
	<h2>Welcome <%= user_of_session.user_name %></h2>
<%end%>



<div id="sign_out">
	<form method="POST" action="/sign_out">
		<button name= "sign_out"value="nil">Sign out</button>
	</form>
</div><!--end of sign out-->

<%if flash[:notice] %>
	<%= flash[:notice]%>
<%end%>

<fieldset>
	<div id="sign_in">
		<h2>Sign in</h2>
		<form action="/" method="POST">
				Username:<input type="text" 		name="username"> <br>
				Password:<input type="password" name="password"> <br>
				<input type="submit" name="Submit" value="Submit">
		</form>
	</div><!--end of sign in-->
</fieldset>
	<a href="/sign_up">Sign up</a>


<div id="post_it">
	<form action="/post_it" method="POST">
		<input type="text" name="post">
		<input type="submit" name="Post" value="Post">
	</form>
</div><!--post it-->


<div id="post">
	<% @posts.each do |post| %>
	<article><%=post.text%>,<%=post.user.user_name%></article>
	<%end%>
</div><!--end of post-->



 