
<%if user_of_session %>
	<h2>Welcome <%= user_of_session.user_name %></h2>
<%end%>
	

<div id="sign_in">
	<h2>Sign in</h2>
	<form action="/" method="POST">
			Username:<input type="text" 		name="username"> <br>
			Password:<input type="password" name="password"> <br>
			<input type="submit" name="Submit" value="Submit">
	</form>
</div><!--end of sign in-->

<a href="/sign_up">Sign up</a>

<div id="post">
	<% @posts.each do |post| %>
	<article><%=post.text%>,<%=post.user.user_name%></article>
	<%end%>
</div><!--end of post-->



 