<!DOCTYPE html>
<html>
	<head>
		<title>Blabber - Home of the gossip</title>
		<link href="stylesheets/stylesheet.css" type="text/css"
      rel="stylesheet" />
    <link href="stylesheets/css_reset.css" type="text/css"
      rel="stylesheet" />
	</head>
	<body>
		<div id="header">
			<image href=>
			<h2>Blabbler</h2>

		</div><!--end of header-->	
		<div id=content>
			<%= yield %>
		</div><!--end of content-->
	</body>
</html>