body {
	background:lightblue;
	height:800px;
}

#post article{
	font-family: helvetica;
	color:#373941;
	width:600px;
	min-height:40px;
	background-image: linear-gradient(rgba(244,232,209,0.1),
  rgba(245,232,209,0.9));	
	margin: 8px auto;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 2px 2px 5px #104966;
	position: relative;
	top:60px;
}

#sign_up a{
	font-family: helvetica;
	color: white;
	text-decoration: none;
	position: absolute;
	right: 80px;
	top: 06px;

}

#sign_up{
	position: fixed;
	top:190px;
	right: 40px;
	background-color:#923636;
	width: 215px;
	height: 29px;
	border-radius: 6px;

}

#sign_up_box{
	background-color:rgba(245,232,209,0.8);
	width: 300px;
	height: 400px;
	margin: 0px auto;
	position: relative;
	top:200px;
}

#flash_errors{
	font-size:16px;
	color: #923636; 
	position: absolute;
	top:65px;
	right:45px;
	width: 190px;
	padding: 3px;
	border-radius: 4px;
	text-align: center;
}

#sign_out button{
	font-family: helvetica;
	font-size: 18px;
	color: white;
	position: fixed;
	top:190px;
	right: 40px;
	background-color:#923636;
	width: 215px;
	height: 29px;
	border-radius: 6px;
	border: none;
}


#sign_in{
	color: white;
	padding: 8px; 
	width: 200px;
	height: 80px;
	border-radius: 6px;
	background-color:#F26363;
	position: fixed;
	top:90px;
	right: 40px;
}

#sign_in button {
	font-family: helvetica;
	font-size: 18px;
	color: white;
	position: relative;
	top: 8px;
	right: 2px;
	background-color:#D43838;
	width: 205px;
	height: 29px;
	border-radius: 6px;
	border: none;
}
	

#header{
	background-color:#923636;
	height: 60px;
	width: 100%;
	position: fixed;
	top:0px;
	z-index:2;
}
#header h2{
	font-size: 2.4em;
	color: white;
	width: 100%;
	position: relative;
	top:0px;
	left: 30px;
}


.user_post{
	font-family: times;
	color: #104966;
	position: absolute;
	bottom:5px;
	right:10px;
}

#flash_notice {
font-size: 2.5em;
	color: white;	
	position: fixed;
	top:10px;
 right: 40px;
	z-index: 3;
	text-align: right;
}

#welcome{
	font-size: 2.5em;
	color: white;	
	position: fixed;
	top:10px;
right: 40px;
	z-index: 3;
	text-align: right;

}

fieldset {
    border: 0;
}

legend{
	display: none;
}

a{
	color:#923636;
	text-decoration: none;
}

#post_it button{
font-family: helvetica;
	font-size: 18px;
	color: white;
	position: relative;
	top: 8px;
	right: -1px;
	background-color:#D43838;
	width: 215px;
	height: 29px;
	border-radius: 6px;
	border: none;

}
#post_it{
	position: fixed;
	top: 105px;
	right:40px;
}

#post_it input{
height: 20px;
}
